* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background: url(2.jpg);
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-items: center;
    display: flex;
}

.form {
    width: 350px;
    height: 450px;
    border: 5px solid #ff6464;
    padding: 30px;
    border-radius: 10px;
    background-color: black;
}

.form h1 {
    color: #ff6464;
    margin-left: 60px;
    padding: 20px;
}

.form p {
    color: #fff;
    font-size: 20px;
    margin-top: 25px;
}

input {
    margin-top: 15px;
    font-size: 18px;
    background: transparent;
    border-bottom: 1px solid #fff;
    border-left: none;
    border-top: none;
    border-right: none;
    outline: none;
    color: #fff;
}

input[type="submit"] {
    color: #000;
    padding: 10px 30px;
    font-size: 20px;
    background-color: #fff;
    border-radius: 20px;
    margin-top: 60px;
    margin-left: 70px;
    display: flex;
}

input[type="submit"]:hover {
    background-color: #ff6464;
    cursor: pointer;
}